.button-style{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: 0px;
    border-radius: 10px;
}
.logo1{
    height: 40px;
    width: 80px;
}
.card{
    text-align: center;
}
.small-yellow-text{
    color: orange;
    font-size: small;
    text-decoration: none;
}
.container{
    padding-bottom: 50px;
}
.color-orange{
    text-align: center;
}
.underline{
    display: block;
    width: 110px;
    height: 5px;
    background: orange;
    margin-top: 5px;
    margin-bottom: 100px;
    border-radius: 3px;  
}
